body {
  background: hsla(57, 100%, 91%, 1);
  width: 85%;
  max-width: 1048px;
  min-width: 480px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-size: 18px;
}

header, nav, main, footer {
  padding: 0 2%;
}

footer {
  display: flex;
}
